@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* *font-family: 'Kanit', sans-serif;*/
body{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    justify-content: center;
}
input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}